@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Courgette");


body, html {
  background: white;
    overflow-x: hidden;
}

.woosh{
  animation: from-left .8s linear;
}

.wiggly:hover{
  animation: wiggle 1s ease;
}

nav{
  box-shadow: 10px 10px 5px -6px rgba(235,221,235,1);
}

.shadow{
  box-shadow: 15px 15px 5px -6px rgba(235,221,235,1);
}

.shady {
  transition: box-shadow 1s;
}

.shady:hover{
  box-shadow: -2px 3px 45px 0px rgba(247,129,247,1);
}

@keyframes wiggle{
    25% {
  -ms-transform: rotate(2deg); /* IE 9 */
   -webkit-transform: rotate(2deg); /* Safari */
   transform: rotate(2deg);}
   75% {
     -ms-transform: rotate(0deg); /* IE 9 */
     -webkit-transform: rotate(0deg); /* Safari */
     transform: rotate(0deg);}
 }


.wooshAway{
  animation: to-right .8s linear;
}

.yarn-big{
  animation: from-left 1s linear;
  margin-top: 65%;
  margin-left: -250px;
}

@keyframes from-left{
  from {margin-left: -2000px;}
  to {margin-left: -250px;}
}


@keyframes to-right{
  from {margin-right: 0px;}
  to {margin-right: -2000px;}
}


.display-inline{
  display: inline;
}
.see-thru{
  opacity: .4;
}

.inline-block{
  display: inline-block;
  width: 100%;
}

.small-bottom-gap{
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
  vertical-align: middle;
}

.this-detail-sytle{
  display: block;
  text-align: center;
          color: black;
          background-color: pink;
          border-radius: 15px;
          position: fixed;
          left: 10%;
          top: 70px;
          height: 200px;
          height: 75%;
          width: 75%;
          border: white solid 10px;
          z-index: 3;
}

a{
  color: darkred !important;
}

ul.nav a:hover, a:active {
  color: red !important;
 background: repeating-linear-gradient(-45deg,
  #c9c9ff, #c9c9ff .2em,
  #ffffff 0, #ffffff .3em) !important;
}

.round{
  border-radius: 15px;
}

.dot-border{
  border: 1px #F5D04C dashed;
}

.inner-slider{
  background-color: white;
  border-radius: 15px;
  margin: 3em;
  height: 60%;
}

#app{
  font-family: "Open Sans";
  color: darkred;
}


.dot-border{
  border: 1px #F5D04C dashed;
}

.inner-slider{
  background-color: white;
  border-radius: 15px;
  margin: 3em;
  height: 60%;
}

.bg-purple-large{
 background: repeating-linear-gradient(-135deg,
  #2F0023, #2F0023 .2em,
  #c9c9ff 0, #c9c9ff 2em
                        )
}

.bg-purple-see-thru{
 background: repeating-linear-gradient(135deg,
  rgba(47, 0, 35, .4), rgba(47, 0, 35, .4) .2em ,
  rgba(86, 0, 65, .4) 0, rgba(86, 0, 65, .4) 2em
                )
}


.bg-purple{
 background: repeating-linear-gradient(135deg,
  #2F0023, #2F0023 .2em ,
  #c9c9ff 0, #c9c9ff .4em
                        )
}

.bg-red-xl{
    background: #f1cbff
}
.bg-red-large{
    background: repeating-linear-gradient(-45deg,
  #ffb6c1, #ffb6c1 .2em,
  #ffe1e6  0, #ffe1e6 6em);
}

.bg-red-small{
  background: #f1cbff
);
}

.bg-red-head{
 background: #f1cbff;
);
}

.detail-container{
  opacity: 1 !impotant;
  max-width: 100%;
  min-height: 100%;
}
.list-container{
  max-width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;

}


.list-container-header {
  margin: 0 auto;
  text-align: center;
  background-color: #730006;
  padding: 1.5em;
  margin-bottom: 1em;

}

.list-container-header-buffer{
  background-color: #f1cbff;
  padding: .5em;
}

.bg-green-large{
background-color: #f1cbff


}
.home-container{
  max-width: 50%;
}

.home-box-padding{
  display: block;
  padding: 1em;
    margin: 2em;

}

.home-box{
  padding: 1em;
  text-align: center;
}


.pattern-box-buffer{
  background-color:   #e1f7d5;
  padding: 2em;

}
.pattern-box {
  white-space: nowrap;
  overflow: hidden;              /* "overflow" value must be different from "visible" */
  text-overflow: ellipsis;
  display: inline-block;
  background-color: #e1f7d5;
  max-width:100%;
  min-width: 29%;
  padding: 1em;
  margin: 10px;
}

.pattern-box-buffer a, a:hover, a:active {
  color: #ffffff;
}
.name-box {
  background-color: #ffffff;
  padding: 1em;
  margin-top: 1em;
  min-height: 25%; }

.image-box {
  background-color: #ffffff;
  padding: 1em;
  min-height: 25%; }

.pattern-form-wrapper{
  padding: 2em;
}

.pattern-form-wrapper-solo{
  padding: 2em;
}

.pattern-form{
  background-color: #ffffff;
  padding: 1.5em;

}
video {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  }

.container{
  max-width: 60% !important;
}

.align-right {
  float: right; }

.align-left {
  float: left; }

.text-box {
  position: absolute;
  height: auto;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }


.text-box-inside {
  text-align: center;
  height: 100% !important;
  opacity: .85;
  padding: 2em;
  margin-top: 2%;
  margin-left: 2%;
  z-index: 5; }

.text-box-inside-content{
  padding: .2em;}


.small-top-gap{
  margin-top: 1.5em;
}


.small-bottom-gap{
  margin-bottom: 1.5em;
}

.small-li{

  }

.navbar a, a:hover, a:active {
  color: black;
}

.navbar {
  margin-bottom: 0 !important;
}

.head-box{

  padding: .5em;
}

.red-pad-header{
  width: 100%;
  height: 12%;
  padding: .5em;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;
}


#triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}


#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-right: 100px solid transparent;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid red;
  border-left: 100px solid transparent;

}
px solid transparent;

}
}
}
}


}
}
